<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" type = "text/css"  href="css/home.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/2f56a34fab.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, minimum-scale=0.1">
    </head>
        <body>
            <div class="wrapper">
                <header>TODO App</header>
                <div class="main" >
                    <form action="/user" id="form" method="post">
                        <div class="input-field">
                            <input id="input-name" name="description" placeholder="What do you need to do?" class="card" >
                        </div>
                       <div class = "category-main">
                           <div class="category-field" >
                               <p>Catergory</p>
                               <div class="dropdown" >
                               <select name = "category" class="card">
                                   <option valus = "Personal">
                                       <p>Personal</p>
                                   </option>
                                   <option valus = "School">
                                       School
                                   </option>
                                   <option valus = "Home">
                                       Home
                                   </option>
                                   <option valus = "Work">
                                       Work
                                   </option>
                                   <option valus = "Others">
                                       Others
                                   </option>
                               </select>
                               </div>
                          
                           </div>
                           <div class="date field">
                               <p>Due Date</p>
                           <input id="input-email" type="date" name="dueDate" type="text"  >
                             </div>
                       </div>

                    
                        <div class = 'btn-comp'>
                            <button type="submit" class="btn btn-info">Add Task</button>
                        </div>

                    </form>
                              
                    <div style = 'display: flex; flex :1; flex-direction: column;'>
                        <% for( let i of todo_list){%>
                            <div class="card">
                                <div>
                                    <div>
                                        <div style = "margin-left: 10px; margin-top: 4px;">
        
                                            <%=i.description %>
                                                                                  
                                        </div>
                                        
                                    </div>
                                    <div class="container">
                                        <div>
                                       
                                            <%=i.category %>
                                     </div>  
                                     <div>
         
                                         <%=i.dueDate %>
                                     </div>
                                     <div>
                                            <a href="/delete-task/?id=<%= i._id %>"><i class="fas fa-trash" style="color:68EACC; padding-left: 15px;"></i></a>
                                        </div>
                                    </div>
                                </div>
                               
                              </div>
                        
                        <% } %>
                    </div>
                    </div>    
                </div>
            </div>
        </body>
</html>